html, body {
    height: 100%;
}

:root {
    --subheader: 24px;
}

body {
    display: flex;
    justify-content: space-between;
}

aside {
    background-color: gray;
    height: 100%;
    width: 20%;
    background-color: hotpink;
    display: flex;
    flex-direction: column;
}

.currencySelector {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.currencySelector h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: var(--subheader);
    font-weight: 600;
}

.currencySelector select {
    width: 80%;
    height: 50%;
    margin: 0 auto;
}

.placeSelection {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.placeSelectionInput {
    height: 10%;
    width: 80%;
    margin: 0 auto;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 50%;
    margin: 0 auto;
    justify-content: space-evenly;
}

.totalCost {
    display: flex;
    height: 80%;
    /* margin: 0 auto; */
    background-color: white;
    border-radius: 20px;
    border: 2px solid black;
}

.priceCalculator {
    width: 100%;
    margin: 5% auto;
}

.totalCost li {
    width: 80%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

header h1{
    font-size: 30px;
    font-weight: 600;
}




main {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
}

main table{
    border: 2px solid black;
    height: 80%;
    width: 80%;
    margin: auto;
}

td {
    text-align: center;
    border: 1px solid black;
}

tr {
    border: 1px solid black;
    height: 5%;
}

.carrier {
    width: 15%;
}

.time {
    width: 70%;
}

.price {
    width: 15%;
}

/*Things to do container*/

.thingsToDo {
    margin: 20px;
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 20%;
    justify-content: space-evenly;
}

.thingsToDo h2 {
    font-size: var(--subheader);
    font-weight: 600;
    text-align: center;
    height: 5%;
    font-family: 'Century Gothic', 'Segoe UI', Candara, Calibri;
    font-size: 40px;
}

.thingsToDoList {
<<<<<<< HEAD
}


.thingsToDoListCard1{
    height: 150px;
    width: 400px;
    margin: 10px;
    border-radius: 8px;
    background-color: blue;
    flex-direction: row;
    text-align: center;
    font-family: 'Century Gothic', 'Segoe UI', Candara, Calibri;
    }


 
    .description{
        height: 27px;
        width: 380px;
        margin: 3px;
        border-radius: 3px;
        background-color: white;
    }
    
    .rating {
        height: 27px;
        width: 70px;
        margin: 3px;
        border-radius: 3px;
        background-color: white;
            
    }
    
    .price {
        height: 27px;
        width: 70px;
        margin: 3px;
        border-radius: 3px;
        background-color: white;
   
     
    }
    
    .tag {
        height: 27px;
        width: 70px;
        margin: 3px;
        border-radius: 3px;
        background-color: white;
       
    }
    
 
.thingsToDoListCard2{
    height: 150px;
    width: 400px;
    margin: 10px;
    border-radius: 8px;
    background-color: aqua;
    flex-direction: row;
    text-align: center;
    font-family: 'Century Gothic', 'Segoe UI', Candara, Calibri;

}

.thingsToDoListCard3{
    height: 150px;
    width: 400px;
    margin: 10px;
    border-radius: 8px;
    background-color: coral;
    flex-direction: row;
    text-align: center;
    font-family: 'Century Gothic', 'Segoe UI', Candara, Calibri;

}

.thingsToDoListCard4{
    height: 150px;
    width: 400px;
    margin: 10px;
    border-radius: 8px;
    background-color: pink;
    flex-direction: row;
    text-align: center;
    font-family: 'Century Gothic', 'Segoe UI', Candara, Calibri;
  
}

.thingsToDoListCard5{
    height: 150px;
    width: 400px;
    margin: 10px;
    border-radius: 8px;
    background-color: red;
    flex-direction: row;
    text-align: center;
    font-family: 'Century Gothic', 'Segoe UI', Candara, Calibri;
   
}

=======
    height: 95%;
}
>>>>>>> main
