
body {
    /*background-color: cadetblue; */
    font-family: 'Poppins', sans-serif;
    background-image: url('../../pictures/waterlong.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    display: inline-block;
    font-size: 700;
    margin-top: 10px;
    color: whitesmoke;
    background-color: teal;
    border-radius: 10px;
}

.finder-col {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    border: 3px black solid;
    opacity: 90%;
}

h2 {
    font-size: larger;
    margin-bottom: 10px;
}

.currency-converter {
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    text-align: center;
}

.currency-converter > div {
    margin-top: 5px;
}

.flight-seeker {
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    text-align: center;
}

.flight-seeker > div {
    margin-top: 5px;
}

.flight-seeker > input {
    margin-top: 5px;
}
/*More effects*/
.currency{
    cursor:pointer;
}
.button, #calcSubmitBtn{
    border:none;
    color:white;
    background-color: rgb(128, 0, 0);
    height: 30px;
    border-radius:4px;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition:ease-out 0.3s;
    margin-top: 5px;
    margin-bottom: 5px;
    width:50%;
    border-radius: 2px;
}
.button:hover, #calcSubmitBtn:hover{
    box-shadow: inset 300px 0 0 0 #f9e506;
    cursor:pointer;
    color:#000;
}


.inpbox span,.full span, .money span{
    color:rgb(77, 77, 77);
    background: rgb(223, 223, 223);
    box-shadow: rgb(204 204 204) 1px 0px 0px 0px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    /* font-size: 22px; */
    padding-right:10px;
}
.calculator {
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#people{
    width:50%
}
.calculator > div {
    margin-bottom: 10px;
}

.total-cost {
    margin-left: 25%;
    margin-top: 5px;
    margin-bottom: 8px;
    width:50%;
    border-radius: 2px;
    height:40px;
    font-size:11.5px;
    background: white;
    text-align: center;
}

table {
    background-color: orange;
    text-align: center;
    margin-left: 5%;
    margin-top: 20px;
    width: 90%;
}

th {
    background-color: orchid;
}

th, td {
    padding: 15px;
    border: 1px solid black;
}

h3 {
    font-size: x-large;
    text-align: center;
    margin-top: 30px;
}

.places-interest {
    background-color: palegoldenrod;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.card {
    background-color: peru;
    width: 90%;
    height: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5%;
    border-radius: 10px;
}

/* To display the web page according to screen size, note that page is made for mobile devices fisrt*/
/* 668px for tablets */
@media screen and (min-width: 668px) {

    h1 {
        font-size: 48px;
    }

    .finder-col {
        width: 95%;
        flex-direction: row;
        margin-left: 2.5%;
        height: 200px;
    }

    .finder-col > div > h2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .currency-converter {
        margin: 0;
    }

    .flight-seeker {
        margin: 0;
    }

    .calculator {
        margin: 0;
    }

    table {
        width: 95%;
        margin-left: 2.5%;
    }

    th {
        font-size: larger;
        align-items: flex-end;
        height: 40px;
    }

    td {
        height: 100px;
    }

    h3 {
        font-size: xx-large;
    }

    .places-interest {
        width: 95%;
        margin-left: 2.5%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card {
        margin: 10px;
        width: 350px;
        height: 350px;
        flex: 0 1 350px;
    }

}

/* 992px for desktop and laptops */
@media screen and (min-width: 992px) {

    .finder-col {
        flex-direction: column;
        width: 25%;
        float: left;
        height: auto;
        margin-right: 3%;
        align-items: center;
    }

    table {
        width: 65%;

    }

    .places-interest {
        flex-direction: row;
    }

    section {
        background-color: pink;
        display: flex;
        flex-direction: column;
    }

    section > h3 {
        display: inline-block;
    }
  }



/*Error page */
.errorPage {
    height: 90%;
    width: 60%;
    margin: 5%;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

