
body {
    background-color: cadetblue;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 90%;
    margin: 0 auto;
    background-color: chartreuse;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: xx-large;
    margin-top: 10px;
}

.finder-col {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    border: 3px black solid;
}

h2 {
    font-size: larger;
    margin-bottom: 10px;
}

.currency-converter {
    background-color: wheat;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    text-align: center;
}

.currency-converter > div {
    margin-top: 5px;
}

.flight-seeker {
    background-color: turquoise;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    text-align: center;
}

.flight-seeker > div {
    margin-top: 5px;
}

.flight-seeker > input {
    margin-top: 5px;
}

.calculator {
    background-color: tomato;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.calculator > div {
    margin-bottom: 10px;
}

.total-cost {
    margin-top: 10px;
    border: 2px black solid;
    width: 50%;
    margin-left: 25%;
}

table {
    background-color: orange;
    text-align: center;
    margin-left: 5%;
    margin-top: 20px;
    width: 90%;
}

th {
    background-color: orchid;
}

th, td {
    padding: 15px;
    border: 1px solid black;
}

.errorPage {
    height: 90%;
    width: 60%;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hidden {
    display: none;
}

@media screen and (min-width: 768px) {
    .currency-converter {
        width: 42.5%;
    }

    .flight-seeker {
        width: 42.5%;
    }

    .finder-col {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}